/*!CK:2016926384!*//*1449549270,*/

._2z8p{padding-left:18px;position:relative}._2z8r{border:0;font-size:12px;outline:none;padding:10px 0;width:100%}._51l0 ._2z8r{font-family:"Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;font-size:14px}._2z8q{left:0;position:absolute;top:10px;z-index:1}._51l0 ._2z8q{top:12px}

#bootloader_xAFqB{height:42px;}.bootloader_xAFqB{display:block!important;}