/*!CK:556679848!*//*1449607843,*/

.sp_s8C-V6Cx5ix{background-image:url(/rsrc.php/v2/yx/r/uuHXmbQgKiq.png);background-size:17px 51px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_s8C-V6Cx5ix.sx_a65f6b{background-position:0 0}.sp_s8C-V6Cx5ix.sx_a40c27{background-position:0 -17px}.sp_s8C-V6Cx5ix.sx_0f7491{background-position:0 -34px}

#bootloader_3lY2t{height:42px;}.bootloader_3lY2t{display:block!important;}